body{
    margin-top: 100px;
    background-image: url(casino-table.jpg);
    background-color: rgb(4, 88, 4);
    background-size: cover;
    text-align: center;
    color: goldenrod;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: xx-large;
}
p{
    color: palegoldenrod;

}
#message{
    font-style: italic;
}
button{
    background-color: goldenrod;
    border: none;
    border-radius: 2px;
    color: #016f32;
    width: 150px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
    font-size: large;
    margin: 2px;
    
}